[Desktop Entry]
Name=Shoes Walkabout
Exec=#{DESK_PATH}/shoes %f
StartupNotify=true
Terminal=false
Type=Application
Comment=Ruby Graphical Programming
Icon=#{DESK_PATH}/static/app-icon.png
Categories=Development;
